{% extends 'base.html' %}

{% block titulo %}
    Bienvenido al sistema de videojuegos
{% endblock titulo %}

{% block contenido %}
    <h1>Bienvenido al Sistema</h1>
    <p>Holaaaaa!!!!</p>
{% endblock %}